
body,html{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.first{
    background-image:url(hand-shake.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-clip: border-box;
    height:600px;
    color: white;
}
.tranc{
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0,0.4);
}
.navbar{
    display: flex;
    height:18%;
    /* border: 2px solid yellow; */
    align-items: center;
}
.logo img{
    width:65%;
    margin-left: 25px;
}
.nav{
    display: flex;
    align-items: center;
    width:60%;
    /* border: 1px solid green; */
    float: right;
    height:55%;
    justify-content: space-around;
    margin-left:18%;
}
.nav li{
    list-style: none;
    background-color: white;
    color: black;
    padding:10px 2px;
    width: 13%;
    border-radius:15px;
    text-align: center;
}
.nav li a{
    text-decoration: none;
    align-items: center;
    color: black;
    font-weight: bold;
}
.nav-box{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    margin-top:10%;
    margin-left:8%;
    color: silver;
    font-size:20px;
}
.btn{
    width:35%;
    height:12%;
    border-radius: 25px;
    border: 2px solid rgb(0, 33, 77);
    background-color:rgb(47 125 223);
    color: white;
    font-size:15px;
}
.nav-box h1{
    margin-top: -27px;
    font-size:50px;
}
.nav-box h3{
    font-size: 30px;
}
.second{
    display: flex;
    /* flex-direction:row; */
    height:350px;
    background-color:rgba(197, 197, 197, 0.815);
}
.work{
    display: flex;
    flex-direction: column;
    width:90%;
    height: 100%;
}
.contain{
    display: flex;
    /* border: 2px solid green; */
    width:90%;
    height: 100%;
    margin:3% 10%;
}
.contain-box{
    height:90%;
    width:25%;
    /* border: 1px solid blue; */
    justify-content: space-around;
    margin: auto;
    border-radius:25px;
    background-color: white;
    text-align: center;
}
.button-box{
    display: flex;
   height:100px;
   width: 90%;
   margin:2px 10%;
   /* border: 2px solid black; */
   justify-content: space-around;
   margin-top: -9%;
}
.btn1{
    display: flex;
    width:15%;
    height:46%;
    margin:30px;
    justify-content: space-around;
    border-radius: 25px;
    border: 2px solid rgb(0, 33, 77);
    background-color:rgb(47 125 223);
    color: white;
}
.h1{
    font-size: 20px;
    font-weight: bold;
}
.fonts{
    margin: auto;
    align-items: center;
    justify-content: center;
}
.fonts .fa{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    color:rgb(83, 83, 83);
}
.fonts li{
     list-style:none;
}
.third{
    display: flex;
    /* width: 100%; */
    height: 350px;
    /* border: 2px solid red; */
}
.third-left{
    width:30%;
    height: 100%;
    /* border: 1px solid black; */
    font-size: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 28, 28);
    color: white;
}
.third-left p{
    display: flex;
    margin:25% 25%;
    font-weight: bold;
}
.third-mid{
   width:60%;
   height: 100%;
   /* border: 1px solid blue; */
   background-color: rgb(56, 77, 102);
}
.mid-box{
    width:40%;
    height:60%;
    margin-top:8%;
    background-color: rgb(105, 129, 158);
    border-radius: 0px 50px 0px 0px;
    color: white;
    align-items: center;
}
.mid-box p{
    width:80%;
    font-size: 13px;
    padding: 20px 20px;
}
.third-right{
   display:flex;
   flex-direction: column;
   width:12%;
   height: 100%;
   background-color: rgb(56, 77, 102);
   /* border: 2px solid green; */
   justify-content: space-between;
   align-items: center;
}
.f-box{
   display: flex;
   width: 100%;
   height:20%;
   background-color: rgb(105, 129, 158);
   border-radius:0px 0px 0px 60px;
}
.f-box li{
    list-style: none;
}
.s-box{
    height:20%;
    width: 100%;
    /* border-bottom: 2px solid black; */
    background-color: rgb(105, 129, 158);
    border-radius: 20px 0px 0px 20px;
}
.s-box li{
    list-style: none;
}
.t-box{
    width: 100%;
    height:20%;
    /* border-bottom: 2px solid black; */
   background-color: rgb(105, 129, 158);
   border-radius: 50px 0px 0px 0px;
}
.t-box li{
    list-style: none;
}
.w{
    display:flex;
}
.four{
    display: flex;
    flex-direction: column;
    height: 350px;
    
}
.four-top{
    display: flex;
    width: 100%;
    height:30%;
    /* border: 2px solid green; */
    align-items: center;
}
.line{
    width:25%;
    height: 3px;
    border-top:2px solid black ;
    margin: auto;
}
.top-mid{
    width:25%;
    text-align: center;
}
.four-bottom{
    height: 100%;
    /* border: 2px solid red; */
    justify-content: space-between;
    margin-top: 5px;
    display: flex;
}
.four-box{
    display: flex;
    flex-direction: column;
    width:30%;
    height:80%;
    /* border: 2px solid green; */
    align-items: center;
}
.five{
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: rgb(56, 77, 102); 
    justify-content: space-around;
}
.five-top{
    display: flex;
    height: 40%;
    width: 80%;
    /* border: 2px solid white; */
    margin: auto;
    justify-content: space-around;
}
.five-bottom{
    display: flex;
    height: 40%;
    width: 80%;
    /* border:2px solid white; */
    margin: auto;
    justify-content: space-around;
}
.icon1{
    display: flex;
    flex-direction: column;
    height:90%;
    width:16%;
    /* border: 2px solid skyblue; */
    border-radius:60px;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(105, 129, 158);
}
.six{
    display: flex;
    height: 500px;
}
.six-left{
    display: flex;
    width: 40%;
    height: 100%;
    background-color: rgb(64, 80, 95);
    color: white;
    align-items: center;
    justify-content: center;
}
.six-right{
    display: flex;
    width:60%;
}
.five-one{
    background-color:rgb(185 188 216);
    width: 33.3%;
}
.five-two{
    background-color:rgb(223 230 255 / 91%);
    width: 33.3%;
}
.five-three{
    background-color:rgb(185 188 216);
    width: 33.3%;
}
.contain1{
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    height:45%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.five-one-top{
    /* height: 50%; */
    text-align: center;
    /* border: 2px solid black; */
    
}
.five-one-bottom{
    /* border: 2px solid black; */
    /* height:50%; */
    text-align: center;
}
.footer{
    height: 500px;  
    background-color:rgb(236 236 236 / 82%);

}
.footer-top{
    height: 300px;
    justify-content: center;
    align-items: center;
}
.in-footer{
    display: flex;
    height: 90%;
    /* border: 2px solid red; */
    width: 90%;
    margin: auto;
    /* margin-top:3%; */
}
.in-footer1{
    width: 25%;
    margin: auto;
    margin-right:25%;
}
.in-footer2{
    margin: auto;
    width: 20%;
}
.footer-bottom{
    display: flex;
}
.footer-bottom-1{
    display: flex;
    width: 30%;
}
.footer-bottom-2{
    display: flex;
    height: 30%;
    /* border: 2px solid red; */
}